[buildout]
parts = haifu
versions = versions
find-links = 
    ${buildout:directory}/egg_repo
extends = 
    http://grok.zope.org/releaseinfo/1.4.1/versions.cfg
develop = .

[versions]
simplejson = 2.1.6

[haifu]
recipe = zc.recipe.egg
eggs = 
    haifu
    PasteScript
interpreter = python
